<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="css/miestilo.css">
</head>
<body>
    
    <div>
        <p>Somos una empresa que se dedica a la venta de relojes de mesa y pared con diseños únicos e innovadores. Utilizamos materia prima de calidad. Elaboramos productos a  la medida del cliente.</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, reiciendis facilis distinctio debitis cumque odit nemo, ab, impedit dolores voluptatem soluta esse mollitia rerum ex enim sed reprehenderit? Corrupti, ipsa.</p>
    </div>
 
</body>
</html>